@import "vars"
@import "fonts"

//start global style
body 
	font-family: "Knockout-HTF30-JuniorWelterwt", sans-serif
	font-weight: 500
	background: #FCFCFD
	position: relative
h1,
h2,
h3,
h4,
h5 
	font-weight: 500 
	margin-bottom: 0
h1 
	font-size: 3.056vw
h2 
	font-size: 1.944vw
	color: $text-a
	font-size: 1.806vw
.container-fluid 
	width: 86.806vw
ul 
	padding-left: 0
	list-style: none
	margin-bottom: 0
a,
a:hover 
	text-decoration: none
.button 
	background: $orange
	height: 2.917vw
	display: flex 
	align-items: center
	justify-content: center
	border-radius: 3.472vw
	cursor: pointer
	transition: all .5s
	a 
		height: 100%
		display: flex 
		align-items: center 
		justify-content: center 
		color: #fff
.firearm-name
	font-size: 1.458vw
.button:hover 
	background: rgba($orange, 0.9) 
.category-name
	color: $text-c
	font-size: 1.111vw
.checkbox
	display: flex 
	align-items: center
	label 
		margin-bottom: 0
	input[type="checkbox"] 
		display: none
	.checkbox-label 
		height: 1.111vw 
		width: 1.111vw
		border: 1px solid #C4C4C4
		border-radius: 0.139vw
		cursor: pointer
.checkbox
	input[type="checkbox"]:checked + .checkbox-label
		background: #C4C4C4
		position: relative
	input[type="checkbox"]:checked + .checkbox-label:before 
		content: ''
		height: 100%
		width: 100%
		background: url('../images/check.svg')
		background-size: 85%
		background-repeat: no-repeat
		background-position: center
		position: absolute 
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
//end global style

//start header style
.header 
	background: rgba(#000, 0.55)
	color: #fff
	font-size: 1.250vw
	overflow: hidden
	height: 5vw
	position: fixed
	width: 100%
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
	z-index: 9999
	transition: all 0.5s
	a 
		color: #fff
	.container-fluid 
		display: flex 
		justify-content: space-between
		align-items: center
		height: 100%
.header.header-black
	position: static
	background: #242424
.header.header-black.sticky
	background: rgba(#000, 0.55)
	position: fixed
.logo
	img 
		width: 7.083vw
.header__left
	display: flex
	align-items: center
	height: 100%
.header__menu
	height: 100%
	ul 
		display: flex
		height: 100% 
		li 
			height: 100% 
			margin-left: 4.167vw
			a 
				height: 100%
				display: flex
				align-items: center				
				position: relative
			a:before 
				content: ''
				width: 0 
				bottom: -1px 
				left: -1% 
				height: 0.347vw
				position: absolute
				background: $orange
				transition: all .5s
			a:hover:before,
			a.active:before
				width: 102%
.header__right 
	display: flex
	align-items: center
.search-link
	margin-right: 2.917vw
	img 
		width: 1.250vw
.header__leng
	position: relative
	select
		appearance: none
		width: 2.828vw
		outline: none
		cursor: pointer
		background: transparent
		color: #fff
		background: transparent
		border: none
		option
			background: $black



.header__leng img
	position: absolute 
	right: 0
	top: 50%
	transform: translateY(-50%)
	width: 0.469vw
.sign-in 
	margin-left: 4.190vw
	margin-right: 3.104vw
	cursor: pointer
.button--register
	width: 8.819vw
.menu-item__mobile
	display: none
.text 
	font-size: 1.111vw
//end header style

//start main screen 
.main-screen
	background: url('../images/header-bg.png')
	background-size: cover
	background-repeat: no-repeat
	padding-top: 12.361vw
	padding-bottom: 7.083vw
	color: #fff
.search-wrapper
	width: 45.486vw
	display: flex 
	justify-content: space-between 
	align-items: center
	background: rgba(#000, 0.55)
	padding: 0.972vw 1.042vw
	box-shadow: 0px 0.278vw 1.111vw rgba(10, 31, 68, 0.1)
	margin-top: 1.806vw
	border-radius: 0.694vw
.button-search
	font-size: 1.389vw
	width: 11.389vw
	a 
		width: 100% 
		height: 100%
.search-label
	font-size: 1.042vw 
	font-weight: 500
	line-height: 1
.search-input
	width: 30vw
	font-size: 1.250vw
	font-weight: 500
	color: #fff
	background: transparent
	border: none
	outline: none
	padding-left: 0
.search-input::placeholder 
	color: #fff
.search-input:focus::placeholder
	color: transparent
//end main screen

//start slick style
.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-touch-callout: none
	-khtml-user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent
.slick-list
	position: relative
	display: block
	overflow: hidden
	margin: 0
	padding: 0
.slick-list:focus
	outline: none
.slick-list.dragging
	cursor: pointer
	cursor: hand
.slick-slider .slick-track,
.slick-slider .slick-list
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
.slick-track
	position: relative
	top: 0
	left: 0
	display: block
	margin-left: auto
	margin-right: auto
.slick-track:before,
.slick-track:after
	display: table
	content: ''
.slick-track:after
	clear: both
.slick-loading .slick-track
	visibility: hidden
.slick-slide
	display: none
	float: left
	height: 100%
	min-height: 1px
[dir='rtl'] .slick-slide
	float: right
.slick-slide img
	display: block
.slick-slide.slick-loading img
	display: none
.slick-slide.dragging img
	pointer-events: none
.slick-initialized .slick-slide
	display: block
.slick-loading .slick-slide
	visibility: hidden
.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent
.slick-arrow.slick-hidden
	display: none
//end slick style

//start categories section style
.categories-section
	padding-top: 2.986vw
	padding-bottom: 3.264vw

.categories-section__items
	margin-top: 1.181vw
.categories-section__item
	width: 100%
	min-height: 6.667vw
	display: block
	border-radius: 0.694vw
	color: #fff
	padding: 1.736vw 1.389vw
	display: flex 
	align-items: center 
	justify-content: space-between
	transition: all 0.5s
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1)
.categories-section__item:hover 
	color: #fff
	img 
		transform: translateX(0.2vw)
.categories-section__item--small-firearms
	background-image: linear-gradient(242.94deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.58) 100%), url('../images/category1.png')
	background-size: cover

.categories-item__left
	span 
		display: block
.categories-item-arrow
	width: 1.215vw
	transition: all .5s
.categories-section__item--assault-rifle
	background-image: linear-gradient(242.94deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.58) 100%), url('../images/category2.png')
	background-size: cover
.categories-section__item--machine-gun
	background-image: linear-gradient(242.94deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.58) 100%), url('../images/category3.png')
	background-size: cover
.categories-section__item--submachine-gun
	background-image: linear-gradient(242.94deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.58) 100%), url('../images/category4.png')
	background-size: cover
.section-header
	display: flex 
	justify-content: space-between
	align-items: flex-end
	padding-bottom: 1.389vw
.section-header__link
	color: $orange
	font-size: 1.250vw
	text-decoration: underline
.section-header__link:hover 
	text-decoration: underline 
	color: $orange
//end categories section style

//start features section style 
.featured
	padding-bottom: 2.431vw
.product-item
	display: block
	margin: 0 0.625vw
	border: 1px solid #F5F5F5
	box-sizing: border-box
	box-shadow: 0px 2px 14px #F4F4F4
	border-radius: 0.694vw
	overflow: hidden
	padding-top: 1.042vw
	padding-bottom: 1.042vw
	outline: none
	background: #fff
	.product-photo
		width: 13.611vw
		margin: 0 auto
		margin-bottom: 0.8vw
.product-item__content
	border-top: 1px solid #F5F5F5
	border-bottom: 1px solid #F5F5F5
	display: block
	padding: 0 1.042vw
	padding-top: 0.694vw 
	padding-bottom: 1.181vw
	display: flex 
	flex-direction: column
	.firearm-name
		color: $text-a
.product-item__price
	color: $text-a
.product-item__price
	display: flex 
	justify-content: space-between
.product-item__content-footer
	display: flex 
	justify-content: space-between
	align-items: center
.product-item__review
	display: flex
	align-items: center
	img 
		width: 0.903vw
.review-value
	color: $text-a
	margin: 0 0.486vw
.review-quantity
	color: $text-c
.product-item__footer
	display: flex 
	justify-content: space-between
	align-items: center
	padding: 0 1.042vw
	padding-top: 0.903vw
	.text 
		color: $text-a
	.text-orange
		color: $orange
.view-product
	display: flex 
	align-items: center 
	img 
		margin-left: 0.3vw
		transition: all 0.5s
		height: 0.694vw
.view-product:hover 
	img 
		transform: translateX(0.1vw)
.prev,
.next 
	cursor: pointer
	img 
		width: 0.833vw
.slider-wrapper
	position: relative
.prev
	position: absolute 
	top: 50% 
	left: -2.083vw
	transform: translateY(-50%) 
.next
	position: absolute 
	top: 50% 
	right: -2.083vw
	transform: translateY(-50%) 
//end featured

//start popular product style
.popular-product
	padding-bottom: 4.167vw
	.row 
		margin-left: 0 
		margin-right: 0
	.col
		padding-left: 0 
		padding-right: 0
		padding: 0 0.625vw
	.col:nth-child(6)
		display: none
	.product-item
		margin-left: 0 
		margin-right: 0
	.hide-row
		display: none
.load-more-button
	color: $orange
	font-size: 1.389vw
	text-align: center
	margin: 0 auto
	margin-top: 3.472vw
	background: #FFFFFF
	border: 1px solid #EEEEEE
	border-radius: 0.694vw
	max-width: 24.861vw
	height: 3.333vw
	display: flex 
	align-items: center 
	justify-content: center
	cursor: pointer
.hide-row
	margin-top: 1.5vw
//end popylar product style

//start footer
.footer
	background: #F9F9F9
	padding-top: 2.500vw
	padding-bottom: 2.361vw
.footer__text
	font-size: 1.250vw
	line-height: 1.2
	color: $text-b
	margin-bottom: 1.042vw
.footer-form
	background: #FFFFFF
	width: 18.403vw
	height: 2.708vw
	border-radius: 0.278vw
	display: flex 
	justify-content: space-between
	align-items: center
	input 
		height: 100%
	input[type="text"]
		background: transparent 
		background-image: url('../images/mail.svg')
		background-repeat: no-repeat
		background-size: 1.042vw
		background-position: left 1.042vw center
		padding-left: 2.569vw
		font-size: 1.111vw
		width: 14.306vw
		border: none
		outline: none
		padding-top: 0.15vw 
		padding-bottom: 0


	input::placeholder
		color: #999FAE
	input:focus::placeholder
		color: transparent

	input[type="submit"]
		width: 4.097vw
		height: 1.181vw
		display: flex 
		align-items: center
		border: none
		background: transparent
		border-left: 1px solid #E3E6E9
		padding-left: 1.042vw
		font-size: 1.111vw
		line-height: 1.2
		color: $orange
		cursor: pointer
.footer-social
	margin-top: 1.042vw
	display: flex
	a 
		display: block
		margin-right: 0.694vw
	img 
		width: 2.083vw
.footer-menu
	font-size: 1.250vw
	a 
		display: block
		color: $text-a
		margin-bottom: 1.2vw
.footer__menu-title
	color: #999FAE	
	margin-bottom: 1.528vw
.footer__line
	height: 1px
	background: #E3E6E9
	margin: 0 auto
	margin-top: 3.958vw
	margin-bottom: 2.222vw
	width: 72.222vw
.footer__bottom
	display: flex 
	justify-content: space-between
	align-items: center
	color: #999FAE
	font-size: 0.972vw
	a
		color: #999FAE
	img 
		margin-right: 1.111vw
		width: 1.667vw
.footer__copy 


//end footer

//start popup
.popup 
	position: fixed
	top: 0 
	left: 0 
	width: 100%
	min-height: 100%
	background: rgba(0, 0, 0, 0.35)
	background-blend-mode: darken
	z-index: 9999
	overflow-y: scroll
	height: 100vh
	display: none	

.popup-content 
	width: 36.319vw
	background: url('../images/reg-bg.png')
	background-size: cover
	background-repeat: no-repeat
	height: 100%
	position: absolute 
	right: 0
	top: 0
	min-height: 75vw
	padding: 9.028vw 7.569vw 10.347vw 4.861vw
	transform: translateX(150%)
	transition: all 0.75s
.popup.active 
	.popup-content 
		transform: translateX(0)
.popup::-webkit-scrollbar
	width: 0
.popup 
	-ms-overflow-style: none
.popup 
	overflow: -moz-scrollbars-none
.logo-reg
	margin-bottom: 1.458vw
	img 
		width: 14.931vw
.popup-form__header
	display: flex 
	justify-content: space-between 
	align-items: center
	padding-bottom: 2.778vw
	img 
		width: 2.222vw
.popup-title
	color: #fff
	font-size: 2.778vw
.popup__form
	input 
		display: block
		width: 100%
		height: 3.333vw
		background: rgba(0, 0, 0, 0.55)
		border-radius: 0.278vw
		border: none
		margin-bottom: 0.556vw
		padding-left: 1.312vw
		color: #fff
		font-size: 1.111vw
		outline: none
	input::placeholder 
		color: #fff 
	input:focus::placeholder 
		color: transparent
	.form-button
		background: $orange
		font-size: 1.250vw
		border-radius: 3.472vw
		margin-top: 2.153vw

.close 
	cursor: pointer
.password
	position: relative
.password-control
	position: absolute
	top: 50%
	transform: translateY(-50%)
	right: 1.250vw
	display: inline-block
	width: 1.8vw
	height: 1.389vw
	background: url('../images/eye.svg') 0 0 no-repeat
	background-size: 1.667vw
	background-position: center
.password-control.view
	background: url('../images/eye-open.svg') 0 0 no-repeat
	background-position: left 0.2vw center
.form-footer
	font-size: 1.111vw
	color: #fff
	padding-top: 0.556vw
	display: flex 
	justify-content: space-between
	
	a 
		color: #fff
.label-text
	margin-left: 0.486vw
	cursor: pointer
.or 
	margin: 2.083vw 0
	text-align: center
	color: #fff
	font-size: 1.111vw
.popup__social-items
	display: flex
	flex-direction: column
	align-items: center
.popup__social
	display: flex
	align-items: center
	color: #fff
	font-size: 1.111vw
	margin-bottom: 1.389vw
	img 
		width: 1.667vw
		margin-right: 0.694vw
.popup__social:hover 
	color: #fff
.popup__footer
	text-align: center 
	color: #fff
	margin-top: 7.431vw
	font-size: 1.111vw
	.sign-up__btn
		color: #fff
		padding-left: 0.25vw
		border-bottom: 1px solid $orange
		cursor: pointer
//start search style
.search-content
	position: relative
	overflow: hidden
	height: 76vw

.search 
	background: #fff
	width: 15.972vw
	height: 100%
	padding: 4.167vw 1.736vw
	min-height: 100%
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1)
	input
		margin-bottom: 0.694vw
		width: 100%
		border: 1px solid #E4E4E4
		border-radius: 0.278vw
		height: 2.569vw
		padding-left: 2.500vw
		font-size: 1.181vw 
		outline: none
		background: #fff
	select
		margin-bottom: 0.694vw
		width: 100%
		border: 1px solid #E4E4E4
		border-radius: 0.278vw
		height: 2.569vw
		padding-left: 1.042vw
		font-size: 1.181vw 
		outline: none
		appearance: none
		cursor: pointer
		background: #fff
		background-image: url('../images/select-arrow.svg')
		background-repeat: no-repeat
		background-position: right 0.833vw center
		background-size: 0.8vw
		background-repeat: #fff



	input[type="search"]
		background: #fff
		background-image: url('../images/search-black.svg')
		background-repeat: no-repeat
		background-position: left 1.042vw center
		background-size: 0.972vw
		
	input:focus::placeholder 
		color: transparent
.search__title
	font-size: 1.389vw
	margin-bottom: 1.042vw
.filter-item
	background: $orange
	display: flex
	align-items: center
	height: 1.806vw
	padding: 0 1.042vw
	margin-bottom: 0.694vw
	color: #fff
	font-size: 1.111vw
	border-radius: 2vw
	margin-right: 0.3vw
	cursor: pointer
	img 
		margin-left: 0.486vw
		width: 0.625vw
.filter-items
	display: flex 
	flex-wrap: wrap
.search-mobile-label
	display: none
.select-item
	display: none
.filter-mobile
	display: none
.search-content 
	display: flex
.search-product
	width: 69.028vw
	margin-left: 2.083vw
	padding-top: 4.167vw
	.col 
		max-width: 25%
	.product-item
		margin-bottom: 1.250vw
.load-more-button--mobile
	display: none
.tabs 
	display: flex
	border-bottom: 1px solid #E4E4E4
	margin-bottom: 2.083vw
	.tab 
		margin-right: 4.167vw
		cursor: pointer
		color: #999999
		font-size: 1.944vw
		
	.tab.active
		border-bottom: 2px solid $orange
		color: #383838
.tab-header
	display: flex 
	justify-content: space-between
	align-items: center
	padding-bottom: 1.389vw
.product_quant
	font-size: 1.250vw
	color: #646464
	span 
		color: #383838
.sort
	font-size: 1.111vw
	color: #646464
	select
		color: #383838
		border: none 
		background: transparent
		outline: none
		appearance: none
		padding-right: 0.972vw
		background: url('../images/down-tringle.svg')
		background-repeat: no-repeat
		background-position: right 0.3vw center
		background-size: 0.417vw
		cursor: pointer
.tab__item
	display: none
	height: 76vw
	overflow-y: scroll
	padding-bottom: 10vw
	padding-right: 1.389vw
.tab__content
	position: relative
.tab__content:after
	content: ''
	position: absolute 
	left: 0 
	bottom: -1vw
	width: 99% 
	height: 9.861vw
	transform: translateY(-100%)
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FCFCFD 82.75%)
.tab__item:first-child 
	display: block
::-webkit-scrollbar
	width: 4px
	height: 4px
	background-color: transparent
::-webkit-scrollbar-button

::-webkit-scrollbar-track

::-webkit-scrollbar-track-piece

::-webkit-scrollbar-thumb
	border-radius: 2px
	background-color: #d1d1d1
::-webkit-scrollbar-corner

::-webkit-resizer

.checkbox__row
	margin-bottom: 0.694vw
	width: 100%
	border: 1px solid #E4E4E4
	border-radius: 0.278vw
	height: 2.569vw
	padding-left: 1.042vw
	font-size: 1.181vw 
	outline: none
	appearance: none
	cursor: pointer
	background: #fff
	background-repeat: #fff
	display: flex
	align-items: center
	.label-text
		position: relative 
		top: 0.1vw
	.label-text
		margin-left: 0.625vw
	.checkbox
		input[type="checkbox"]:checked + .checkbox-label
			position: relative
			background: transparent
		input[type="checkbox"]:checked + .checkbox-label:before 
			content: ''
			height: 100%
			width: 100%
			background: url('../images/check-orange.svg')
			background-size: 85%
			background-repeat: no-repeat
			background-position: center
			position: absolute 
			top: 50%
			left: 51%
			transform: translate(-50%, -50%)
.search-close,
.button--apply-filter
	display: none

//start product page style
.product-page
	padding-top: 4.167vw
	.container-fluid 
		width: 77.083vw
.product-image
	width: 100%
.product-page
	position: relative
	.slick-dots
		display: flex
		justify-content: center
		margin-left: 0
		position: absolute
		left: 50%
		bottom: 1.736vw
		transform: translateX(-50%)
		li 
			button 
				background: transparent
				border: none
				font-size: 0
				outline: none
				height: 0.347vw
				width: 0.347vw
				background: rgba(#fff, 0.5)
				margin: 0.236vw
				padding: 0
				border-radius: 50%
				cursor: pointer
				transition: all 0.5s
		.slick-active
			button 
				background: $orange
				width: 0.694vw
				border-radius: 1.597vw
.product-slider-wrapper
	position: relative
.prev-arrow
	position: absolute
	top: 50%
	left: 1.667vw
	cursor: pointer
	transform: translateY(-50%) translateX(100%)
.next-arrow
	position: absolute
	top: 50%
	right: 1.667vw
	cursor: pointer
	transform: translateY(-50%) translateX(-100%)
.product-item-title
	font-size: 3.056vw
.product-item__bottom
	display: flex 
	justify-content: space-between
	align-items: center
	font-size: 1.250vw
	padding-bottom: 1.389vw
	color: $text-b
.product-item__bottom-left
	display: flex 
	align-items: center
.product-item__reviews
	display: flex 
	align-items: center
.product-item__bottom-text
	margin-right: 1.111vw
.product-item__reviews
	img 
		width: 1vw
		position: relative 
		top: -0.1vw
		margin-right: 0.347vw
.product-item__rev-value
	color: $text-a
	margin-right: 0.208vw
.product__description
	p 
		font-size: 1.250vw
		color: $text-b
		margin-bottom: 2.431vw
		line-height: 1.4
//end product page style

//start retailers style
.retailers
	padding: 3.472vw 0

	.container-fluid 
		width: 77.083vw
	h2 
		margin-bottom: 0.556vw
	.load-more-button
		margin-top: 1.042vw
.retailers__row
	display: flex
	border-bottom: 1px solid #EEEEEE
	padding: 1.2vw 1.389vw
	display: none
.retailers__row.active 
	display: flex !important
.retailers__row:first-child, 
.retailers__row:nth-child(2),
.retailers__row:nth-child(3),
.retailers__row:nth-child(4),
.retailers__row:nth-child(5)
	display: flex
.retailers__col
	width: 50%
.retailers__table
	border: 1px solid #EEEEEE
	border-radius: 0.694vw
	overflow: hidden
	font-size: 1.250vw
	a 
		color: $orange
		text-decoration: underline
.retailers__col--last
	display: flex 
	justify-content: space-between
.retailers__row--header
	color: #999999
	font-size: 1.111vw
.mobile-text
	display: none
.retailers__col--last
	img 
		display: none
//end retailers style

//start discussion style
.discussion
	.container-fluid 
		width: 77.083vw
.discussion__item
	border: 1px solid #EEEEEE
	border-radius: 0.694vw
	overflow: hidden
	padding: 1.389vw 0
	font-size: 1.250vw
.discussion__item-content
	padding: 0 1.458vw		
.discussion__item-user
	display: flex 
	align-items: center
	padding-bottom: 1.042vw
	img 
		margin-right: 0.694vw
		width: 2.222vw
.discussion__item-footer
	border-top: 1px solid #EEEEEE
	padding: 0 1.458vw
	padding-top: 1.042vw
	display: flex
	a 
		display: flex 
		align-items: center
		margin-right: 3.125vw
		color: $orange
		span 
			text-decoration: underline
		img 
			margin-right: 0.694vw
			width: 1.458vw
.discussion__item
	margin-bottom: 2.083vw
.discussion__item--sub
	margin-left: 7.986vw

//end discussion style

@import "media"




